header 
    nav.navbar.navbar-expand-lg.bg-body-tertiary.mb-0.bg-light.opacity-75.shadow
        .container-fluid
            a.navbar-brand(href='#') Node.js Express API app
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            .collapse.navbar-collapse#navbarSupportedContent
                ul.navbar-nav.me-auto.mb-0.mb-lg-0
                    li.nav-item
                        a.nav-link.active(aria-current='page', href='/') Home
                    li.nav-item
                        a.nav-link(href='/project') Project
                    li.nav-item
                        a.nav-link(href='/tag') Tag