extends layout

block layout-content 
    h1.text-center.border.border-bottom.p-2 #{title} 
    div.container.row.justify-content-center
        form.col-md-6.p-3(method="post", action="/tag/add/submit")
            div.row.mb-2
                div.col-sm-3
                    label.form-label(for="tag") Tag:
                div.col-sm-9 
                    input.form-control(type="text", id="tag", name="tag", placeholder="input your tag, only one allowed")
            div.row.mb-2 
                div.col-sm-3
                    label.form-label(for="color") Select your tag color: 
                div.col-sm-9
                    select.form-select(name="color" id="color" required)
                        option(value="" disabled selected) -- please select --
                        option(value="#FF69B4") #Red - Highlight
                        option(value="#FFC107") #Yellow - Technique
                        option(value="#28A745") #Green - Industry
            div.row.d-flex.flex-row.justify-content-evenly.align-items-center
                    button.col-sm-5.btn.btn-primary(type="submit") Add Tag
                    a.col-sm-5.btn.btn-secondary(href="/project") Cancel