extends layout

block layout-content 
    h1.text-center.border.border-bottom.p-2 #{title} 
    div.container.row.justify-content-center
        form.col-md-6.p-3(method="post", action="/tag/edit/submit")
            input(type="hidden", name="tagId", value=editTag._id)
            div.row.mb-2
                div.col-sm-4
                    label.form-label(for="tag") Tag:
                div.col-sm-8 
                    input.form-control(type="text", id="tag", name="tag", value=editTag.TagName)
            div.row.mb-2 
                div.col-sm-4
                    label.form-label(for="color") Update your tag color: 
                div.col-sm-8
                    select.form-select(name="color" id="color")
                        option(value="" disabled) -- please select --
                        option(value="#f4a259" selected=(editTag.Color === "#f4a259")) #Red - Highlight
                        option(value="#ffe066" selected=(editTag.Color === "#ffe066")) #Yellow - Technique
                        option(value="#8cb369" selected=(editTag.Color === "#8cb369")) #Green - Industry
            div.row.d-flex.flex-row.justify-content-evenly.align-items-center
                button.col-sm-5.btn.btn-primary(type="submit") Update Tag
                a.col-sm-5.btn.btn-secondary(href="/tag") Cancel